@font-face {
  font-family: 'Acme';
  src: url('../assets/Acme-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #edc7b7;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Acme', 'sans-serif';
  background-color: var(--main-color);
  display: grid;
  grid:
    'search search today today' 50vh
    'week week week week' 50vh /
    1fr 1fr 1fr 1fr;
}

.search-date-container {
  grid-area: search;
  margin: 2rem 0;
  padding: 1.5rem 3rem;
  border-right: 3px solid black;
}

.search-div {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.search-form {
  display: flex;
  width: 30%;
  padding: 0.25rem 0;
}

.search-div input[type='text'] {
  width: 85%;
  height: 100%;
  padding: 0.25rem;
  padding-left: 0.5rem;
  font-size: 20px;
  border-radius: 5px;
}

.search-icon {
  width: 25px;
  height: 25px;
}

#submitBtn {
  background-color: white;
  width: 35px;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

#submitBtn:hover {
  transform: scale(1.1);
}

.time-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.date {
  font-size: 5rem;
}

.time {
  font-size: 3.5rem;
}

.credit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 5rem;
}

.credit a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.credit span {
  color: black;
}

.today-weather-container {
  grid-area: today;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-location {
  display: flex;
  width: 80%;
  border-bottom: 3px solid black;
}

.logo-location img {
  width: 30%;
}

.loc-display-desc {
  text-align: center;
  padding: 1rem;
  flex: 1;
}

.loc-display {
  font-size: 5rem;
  margin: auto;
  border-bottom: 3px solid black;
}

.loc-desc {
  font-size: 2.5rem;
  margin: auto;
}

.weather-details {
  display: flex;
  width: 80%;
}

.current-temp {
  flex-basis: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  font-size: 5.5rem;
}

.details-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;
  border-left: 3px solid black;
}

.detail p {
  margin: 0;
  font-size: 1.8rem;
}

.week-forecast-container {
  grid-area: week;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-top: 0;
}

.week-forecast-title h2 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #000;
  line-height: 0em;
  margin: 10px 0 20px;
}

.week-forecast-title h2 span {
  background: var(--main-color);
  padding: 0 25px;
}

.daily-forecast {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem;
}

.daily-w {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
}

.day {
  font-size: 2.5rem;
  margin: 0;
}

.w-desc {
  font-size: 1.5rem;
}

.week-temp {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

/* media queries */
@media only screen and (max-width: 1500px) {
  .search-date-container {
    margin: 1.5rem 0;
    padding: 1.5rem 2.5rem;
    border-right: 3px solid black;
  }

  .search-icon {
    width: 25px;
    height: 25px;
  }

  .date {
    font-size: 4.5rem;
  }

  .time {
    font-size: 3rem;
  }

  .credit {
    font-size: 1.2rem;
  }

  .today-weather-container {
    padding: 2.5rem;
  }

  .loc-display-desc {
    padding: 0.8rem;
  }

  .loc-display {
    font-size: 4rem;
  }

  .loc-desc {
    font-size: 2rem;
  }

  .current-temp {
    padding: 1.8rem 1.2rem;
    font-size: 5rem;
  }

  .detail p {
    margin: 0;
    font-size: 1.5rem;
  }

  .daily-forecast {
    padding: 0.8rem;
  }

  .daily-w {
    width: 14%;
  }

  .day {
    font-size: 2rem;
  }

  .w-desc {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1250px) {
  .search-date-container {
    padding: 2.5rem;
  }

  .search-div input[type='text'] {
    font-size: 18px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  .date {
    font-size: 4rem;
  }

  .time {
    font-size: 2.5rem;
  }

  .credit {
    font-size: 0.8rem;
  }

  .today-weather-container {
    padding: 2rem;
  }

  .loc-display-desc {
    padding: 0.6rem;
  }

  .loc-display {
    font-size: 3.5rem;
  }

  .loc-desc {
    font-size: 1.5rem;
  }

  .current-temp {
    padding: 1.5rem 1rem;
    font-size: 4.5rem;
  }

  .detail p {
    font-size: 1.2rem;
  }

  .daily-forecast {
    padding: 0.6rem;
  }

  .daily-w {
    width: 15%;
  }

  .day {
    font-size: 1.7rem;
  }

  .w-desc {
    font-size: 1rem;
  }

  .week-temp {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1050px) {
  body {
    grid:
      'search' auto
      'today' auto
      'week' auto /
      1fr;
  }

  .search-date-container {
    margin: 0;
    padding: 3rem;
    border-right: 0;
    border-bottom: 3px solid black;
  }

  .search-div {
    height: 2.5em;
  }

  .search-form {
    width: 20%;
  }

  .search-div input[type='text'] {
    font-size: 15px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  #submitBtn {
    width: 30px;
  }

  .date {
    font-size: 3.5rem;
  }

  .time {
    font-size: 2rem;
  }

  .credit {
    font-size: 1.2rem;
  }

  .today-weather-container {
    padding: 1.5rem;
  }

  .loc-display-desc {
    padding: 0.5rem;
  }

  .loc-display {
    font-size: 4rem;
  }

  .loc-desc {
    font-size: 2rem;
  }

  #locLogo {
    height: 150px;
    width: 150px;
  }

  .details-container {
    margin: 1rem 0rem;
    padding: 1rem 0rem;
  }

  .detail p {
    margin: 0;
    font-size: 1.2rem;
  }

  .week-forecast-title h2 {
    font-size: 1.2rem;
  }

  .daily-forecast {
    padding: 0.6rem;
  }

  .daily-w {
    width: 14%;
  }

  .day {
    font-size: 1.5rem;
  }

  .w-desc {
    font-size: 0.8rem;
  }

  .week-temp {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .search-date-container {
    margin: 0;
    padding: 1.5rem;
    border-right: 0;
    border-bottom: 3px solid black;
  }

  .search-form {
    width: 30%;
  }

  .search-div input[type='text'] {
    font-size: 15px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  #submitBtn {
    width: 30px;
  }

  .time-date-container {
    padding: 1rem;
  }

  .date {
    font-size: 3.5rem;
  }

  .time {
    font-size: 2rem;
  }

  .credit {
    font-size: 1rem;
    padding: 0 3.5rem;
  }

  .today-weather-container {
    padding: 1.2rem;
  }

  .loc-display-desc {
    padding: 0.5rem;
  }

  .loc-display {
    font-size: 3.5rem;
  }

  .loc-desc {
    font-size: 2rem;
  }

  #locLogo {
    height: 125px;
    width: 125px;
  }

  .current-temp {
    font-size: 4.5rem;
  }

  .details-container {
    margin: 1rem 0rem;
  }

  .detail p {
    margin: 0;
    font-size: 1rem;
  }

  .week-forecast-title h2 {
    font-size: 1rem;
  }

  .daily-forecast {
    padding: 0.5rem;
  }

  .daily-w {
    width: 15%;
  }

  .day {
    font-size: 1.2rem;
  }

  .w-desc {
    font-size: 0.65rem;
  }

  .week-temp {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 575px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .search-date-container {
    margin: 0;
    padding: 1.5rem;
    border-right: 0;
    border-bottom: 3px solid black;
  }

  .search-form {
    width: 50%;
  }

  .search-div input[type='text'] {
    font-size: 15px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  #submitBtn {
    width: 30px;
  }

  .time-date-container {
    padding: 0.8rem;
  }

  .date {
    font-size: 3rem;
  }

  .time {
    font-size: 1.5rem;
  }

  .credit {
    font-size: 1rem;
    padding: 0;
  }

  .today-weather-container {
    padding: 1rem;
  }

  .loc-display-desc {
    padding: 0.4rem;
  }

  .loc-display {
    font-size: 3rem;
  }

  .loc-desc {
    font-size: 1.8rem;
  }

  #locLogo {
    height: 100px;
    width: 100px;
  }

  .current-temp {
    font-size: 3.5rem;
  }

  .details-container {
    margin: 1rem 0rem;
  }

  .detail p {
    font-size: 0.9rem;
  }

  /* .week-forecast-container {
    grid-area: week;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    padding-top: 0;
  } */

  .week-forecast-title h2 {
    font-size: 1rem;
  }

  .daily-forecast {
    flex-direction: column;
    padding: 0.5rem;
  }

  .day {
    font-size: 1.5rem;
  }

  .w-desc {
    font-size: 1rem;
  }

  .week-temp {
    font-size: 1.8rem;
  }

  .daily-w {
    width: 100%;
    border-bottom: 2px solid black;
    padding-top: 0.4rem;
  }
}
